* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px 24px;
  font:
    14px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
}

h1 {
  margin-block: 16px;
}

ul {
  list-style-type: none;
}


/**
 * Main navigation styles
 */

#main-nav {
  background-color: hsl(0, 0%, 0%);
  margin-block: 16px;
}

#main-nav ul {
  display: flex;
}

#main-nav a {
  display: block;
  padding: 18px 38px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#main-nav a:hover {
  background-color: hsl(0, 0%, 80%);
  color: black;
}

#main-nav a:active {
  background-color: hsl(0, 0%, 72%);
  color: black;
}

/**
 * Index styles
 */

.no-messages {
  font-size: 1.2rem;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.message-list .message {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.4rem;
}

.message .user {
  font-size: 1.2rem;
}

.message .date-added,
.message .postfix {
  color: gray;
  font-size: 1rem;
}

.message .date-added {
  align-self: flex-end;
}

/**
 * Form styles
 */

#message-form {
  display: flex;
  flex-direction: column;
}

#message-form label {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

#message-form input[type="text"],
#message-form textarea {
  font-size: 1.4rem;
  margin-bottom: 16px;
  padding: 8px;
}

#message-form textarea {
  resize: none;
}

#message-form button {
  font-size: 1.2rem;
  padding: 16px 48px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

#message-form button:hover {
  background-color: hsl(0, 0%, 80%);
  color: black;
}

#message-form button:active {
  background-color: hsl(0, 0%, 72%);
  color: black;
}